body{
    background-color: rgb(7, 7, 7);
    text-align: center;
}

img{
    border: 5px solid rgb(239, 241, 209);
    
    width: 500px;
    margin: 50px;
    
}
#main{
    border: 10px solid aliceblue;
    margin: 100px;
    background-color: rgba(26, 26, 61, 0.603);
}
.text{
    color: aliceblue;
    
}html{
    font-size: 20px;
}
h1{
    font-size: 3rem;
    font-family: 'Libre Baskerville', serif;
}
p{
    font-size: 2rem;
    font-family: 'Libre Baskerville', serif;
    padding: 20px;
}